.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.btn-filter {
    font-weight: 500 !important;
    border: 1px solid #e0e1e3 !important;
    padding: 0.35rem .75rem !important;
    font-size: 0.8rem !important;
    border-radius: .10rem !important;
    color: #4a525a;
}

.btn-filter:hover {
    background-color: #e4e7ed;
}

.dt-buttons {
    display: none;
}

/*#datatable-buttons_filter {*/
/*    display: none;*/
/*}*/

/*#datatable-buttons_info {*/
/*    display: none;*/
/*}*/

/*#datatable-buttons_paginate {*/
/*    display: none;*/
/*}*/


.href_btns {
    color: white !important;
    outline: none !important;
}

.href_btns:hover {
    color: white !important;
    outline: none !important;
}

table.dataTable > thead .sorting:before, table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:before, table.dataTable > thead .sorting_asc_disabled:before, table.dataTable > thead .sorting_desc_disabled:before {
    opacity: 1 !important;
}

table.dataTable > thead .sorting:after, table.dataTable > thead .sorting_asc:after, table.dataTable > thead .sorting_desc:after, table.dataTable > thead .sorting_asc_disabled:after, table.dataTable > thead .sorting_desc_disabled:after {
    opacity: 1 !important;
}

table.dataTable > thead .sorting_asc:before, table.dataTable > thead .sorting_desc:after {
    color: #F15925 !important;
}

.select_all_checkbox:after, .select_all_checkbox:before {
    display: none !important;
}

/*.custom_table_div {*/
/*    max-height: 495px;*/
/*    display: block;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*}*/

/*.custom_table_head {*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*}*/

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: inherit !important;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #ffffff !important;
}

.table .table-light {
    color: #495057;
    border-color: #eff2f7;
    background-color: #041322 !important;
}

.btn-no-color {
    background-color: transparent !important;
    border: none !important;
    color: #717374;
    padding: 0;
    margin-right: 2px;
}

@media (min-width: 1200px) {
    body[data-layout=horizontal] .container-fluid, body[data-layout=horizontal] .navbar-header {
        max-width: 80%;
    }
}

.navbar-header {
    height: 65px !important;
}

.top_navigation_menu_items {
    padding: 0 10px;
}

.logo_menu_margin {
    margin-left: 10px;
}

.menu_item_icon {
    font-size: 30px !important;
}

body[data-layout=horizontal] .page-content {
    margin-top: 0 !important;
}

.btn-filter {
    /*background-color: transparent !important;*/
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
}

.required:after {
    content: " *";
    color: red;
}

.card {
    border: none !important;
}

.card {
    background-color: #f7f9fb !important;
    margin-bottom: 24px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.card-title {
    font-size: 20px !important;
    font-weight: 500;
}

#toast-container {
    margin-top: 69px !important;
    border: none;
}

.theme_color {
    color: #F15925;
}

.theme_color_bg {
    background-color: #F15925;
    border: #F15925;
}

.page-item.active .page-link {
    background-color: #F15925 !important;
    border-color: #F15925 !important;
}

.btn-primary {
    color: #fff;
    background-color: #F15925;
    border-color: #F15925;
}

.selected_btn {
    background-color: #F15925;
}

.btn-primary:hover {
    color: #fff;
    background-color: #F15925;
    border-color: #F15925;
}

.page-content {
    background-color: white !important;
}

.top_heading_text {
    margin-top: 12px !important;
    font-size: 22px !important;
    font-weight: 500 !important;
}

.top_nav_btns {
    width: 87px !important;
    height: 67px !important;
}

.top_nav_btns:hover {
    color: #fff;
    background-color: #F15925;
    border-color: #F15925;
}

.page-title-box {
    padding-bottom: 10px;
}

tr {
    cursor: pointer !important;
}

.profile-user-wid {
    margin-top: 5px !important;
}

.initials_circle {
    width: 100px;
    height: 100px;
    border: 1px solid #F15925;
    border-radius: 55px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: #F15925;
}

.nav-tabs-custom .nav-item .nav-link.active {
    color: #F15925;
}

.nav-tabs-custom .nav-item .nav-link:after {
    background: #F15925;
}

.fw-300 {
    font-weight: 300;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-left: 4px solid;
    background-color: #f7f2db;
    color: #F15925;
}

.card-title-small {
    font-size: 15px !important;
}

.left-line {
    border-left: 1px solid;
}

.form-check-input:checked {
    background-color: #F15925;
    border-color: #F15925;
}

.select2-container {
    width: 100% !important;
}

.search-bar {
    padding-left: 30px
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

@media (min-width: 1200px) {
    body[data-layout=horizontal] .container-fluid, body[data-layout=horizontal] .navbar-header {
        max-width: 100% !important;
    }

}

body[data-topbar=dark] #page-topbar {
    background-color: #F7F9FB;
    padding-top: 26px;
    padding-left: 15px;
}

body[data-topbar=dark] .header-item, body[data-topbar=dark] .header-item:hover {
    font-size: 26px;
    color: #6D687A;
}

body[data-layout=horizontal] .page-content {
    margin-top: 12px !important;
}

.rounded-circle {
    border-radius: 35% !important;
}

.img-thumbnail {
    padding: .25rem;
    background-color: transparent;
    border: none !important;
    border-radius: .25rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #000000 !important;
}

#page-topbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.flash_card {
    background-color: white;
    padding: 3px;
    text-align: center;
    float: right;
}

.left_card {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right_card {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.welcom_grid {
    background-image: linear-gradient(to right, #FF6A37, #CF6CF2);
    border-radius: 20px;
}

.text_white {
    color: white !important;
}

.font-size-54 {
    font-size: 54px !important;
}

.family_font {
    font-family: 'Font Awesome 5 Brands' !important;
}

.ml-6 {
    margin-left: 6px;
}

.course_card_icon {
    height: 22px;
    margin-top: 15px;
}

.source_card_top_span {

}

.source_card_top {
    color: #F15925;
    width: 170px;
    height: 48px;
    background: rgba(241, 89, 37, 0.2);
    box-shadow: 2px 2px 11px rgb(0 0 0 / 6%);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
}

.course_card {
    width: 58px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    text-align: center;
}

.bradius_20 {
    border-radius: 20px !important;
}

.p-13 {
    padding: 12px !important;
}

.pl-27 {
    padding-left: 27px;
}

.w-40 {
    width: 40px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.nav-link {
    color: #928CA6 !important;
}

.nav-link.active {
    color: #F15925 !important;
}

@media (min-width: 1200px) {

    .nav-tabs-custom .nav-item .nav-link.active:after {
        transform: scale(.7);
        left: -25px;
    }

    .article_nav_link.active:after {
        transform: scale(.85) !important;
        left: -12px !important;
    }

    .nav-item {
        text-align: left !important;
    }

    .nav-pills > a, .nav-pills > li > a, .nav-tabs > li > a {
        font-size: 18px;
        font-weight: 400;
    }

    .mycourse_navitem {
        flex-grow: .12 !important;
    }

    .nav-link {
        padding: .5rem 0rem !important;

    }
}

.one_line_break {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.two_line_break {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.add_new_icon {
    margin-left: 10px;
    color: #f15925;
    cursor: pointer;
}

.icon_orange {
    color: #f15925;
}

.wizard li.active span.round-tab {
    background: #f15925;
    color: #fff;
    border-color: #f15925;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    text-align: left;
}

.connecting-line {
    height: 1px;
    background: #CEC8E0;
    position: absolute;
    width: 44%;
    top: 13px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 50%;
    background: #CEC8E0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    border: 1px solid #CEC8E0;
}

span.round-tab i {
    color: #555555;
}


.wizard li.active span.round-tab i {
    color: #5bc0de;
}

.wizard .nav-tabs > li.active > a i {
    color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 11%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}


.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.wizard .nav-tabs > li a i {
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}

.prev-step,
.next-step {
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.prev-step {
    color: white;
    background-color: #A6A2B0;
}


.skip-btn {
    background-color: #cec12d;
}

@media (max-width: 767px) {
    .sign-content h3 {
        font-size: 40px;
    }

    .wizard .nav-tabs > li a i {
        display: none;
    }

    .signup-logo-header .navbar-toggle {
        margin: 0;
        margin-top: 8px;
    }

    .signup-logo-header .logo_area {
        margin-top: 0;
    }

    .signup-logo-header .header-flex {
        display: block;
    }

    .article_tab_caption {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .article_tab_caption {
        display: none !important;
    }
}

.light_grey_color {
    color: #818d98 !important;
    font-weight: 400 !important;
}

.wizard li.active .light_grey_color {
    color: #f15925 !important;
}

hr {
    margin: 1rem 0;
    color: #F1F3F4;
    background-color: #F1F3F4;
    border: 0;
    opacity: 1.2;
}

.pl-20 {
    padding-left: 20px;
}

.form_step_btn {
    padding: 17px 40px !important;
    border-radius: 15px !important;
    font-size: 15px !important;
}

.modal-content {
    border-radius: 2rem !important;
    padding: 18px !important;
    font-size: 20px;
    color: black;
}

.modal-title {
    font-size: 22px !important;
    font-weight: 500;
}

.modal_form_label {
    font-size: 22px !important;
}

label {
    font-weight: 400 !important;
}

.form-control {
    font-size: 15px;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.5;
    border-color: #E2E6EB;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 555px !important;
    }
}

.modal-footer {
    justify-content: flex-start !important;
}

.font-weight-400 {
    font-weight: 400 !important;
}

.line_height_32 {
    line-height: 32px !important;
}

.resource_card {
    text-align: center !important;
    height: 170px !important;
    border: 1px solid #E2E6EB !important;
    background-color: transparent !important;
}
.form-check-primary .form-check-input:checked, .form-radio-primary .form-check-input:checked
{
    background-color: #f15925;
    border-color: #f15925;
}
